.chat_layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 90vh;
  width: 95%;
  margin: 2rem auto;
  max-height: 700px;
}

.chat_section1 {
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.chat_section3 {
  height: 3rem;
  border: solid 1px grey;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: auto;
  padding: 0.5rem;
  display: flex;
  width: 90%;
}

.chat_section3 input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.chat_section3 > button {
  background-color: yellow;
  color: black;
  writing-mode: horizontal-tb;
  white-space: nowrap;
  padding: 0 1rem;
  cursor: pointer;
}

.send_icon {
  margin-left: 0.3rem;
  vertical-align: -10%;
}

.profile_icon {
  vertical-align: middle;
}

.chat_section2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.chat_message div:nth-child(2) {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
}

.admin_message {
  margin-right: auto;
}
.admin_message div:nth-child(1) {
  margin: 0.2rem;
  margin-left: 1rem;
}
.admin_message > div:nth-child(2) {
  background-color: lightgrey;
}

.user_message {
  margin-left: auto;
}
.user_message > div:nth-child(1) {
  text-align: right;
  margin: 0.2rem;
  margin-right: 1rem;
}
.user_message > div:nth-child(2) {
  display: block;
  background-color: yellow;
}
