input {
  font-size: 1rem;
  background-color: var(--sub);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--el);
  border: none;
}

.home_layout {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.home_section1 {
  flex: 2;
  text-align: center;
}

.home_section2 {
  flex: 2;
}

.home_section3 {
  flex: 6;
}

.tree_icon,
.glass_icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.glass_icon {
  font-size: 2.2rem;
  cursor: pointer;
}

.designs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.design {
  flex: 1 1 30%;
  max-width: 30%;
}

.design img {
  max-width: 100%;
}
