.work_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem auto;
  gap: 1rem;
}

.work_section1 > div > * {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.work_section1 span {
  font-weight: bold;
}

.work_section2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.work_section2 > div:nth-child(1) {
  flex: 9;
}

.work_section2 > div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.canvas_stage {
  background-color: white;
}
