.user_thumbnail {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: solid 3px var(--el);
}

.user_thumbnail > img {
  width: 100%;
}

.small_thumbnail {
  width: 3rem;
  height: 3rem;
}
.small_thumbnail:hover {
  border: solid 3px var(--pt);
}

.large_thumbnail {
  width: 7rem;
  height: 7rem;
}
