#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item_description {
  font-size: 1.5em;
  margin: 5rem 3rem;
  word-break: keep-all;
  white-space: normal;
  text-wrap: balance;
}

.nav_flex {
  display: flex;
  position: fixed;
  top: 2rem;
  left: 2rem;
  gap: 1rem;
}
