@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@font-face {
  font-family: "KCC-DodamdodamR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-DodamdodamR.woff2")
    format("woff2");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

:root {
  font-family: "Pretendard-Regular", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #73ea84;
  --sub: #cbd0d8;
  --el: #333d51;
  --pt: #d3ac2b;
  --bt: #004111;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: var(--el);
  background: linear-gradient(to right, var(--bg), white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 1.7rem;
}
