:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #73ea84;
  --sub: #cbd0d8;
  --el: #333d51;
  --pt: #d3ac2b;
  --bt: #004111;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: var(--el);
  background: linear-gradient(to right, var(--bg), white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--el);
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  color: white;
}
button:hover {
  background-color: var(--pt);
}
button:focus,
button:focus-visible {
  outline: none;
}
